$font-family: (
    "title": "Big Shoulders Stencil Display",
    "paragraph": "Roboto Mono",
    "infoBubble": "Roboto Condensed",
);
$font-weight: (
    "regular": 400,
    "regular-bold": 500,
    "bold": 700,
);
$font-size: (
    "title": 2.75rem,
    "paragraph": 1rem,
    "infoBubble": 0.75rem,
);
